<div class="other-page" ng-controller="ScreenAddController" >
<h1 style="color:white"> Reservation Charting System - Add/Remove Screens</h1>
   <form>

    <div ng-model="currentInfo"  ng-hide="hideConfigurationInfo">
        <h2 style="color:white">Current Screen Configurations </h2>
		<table class="maintable">
			<tr >
				<b>
					<td><b>Platform No</b></td>
					<td><b>Screen No</b></td>
					<td><b>Screen Identifier</b></td>
				</b>

			</tr>
			<tr ng-repeat = "config in platformData">
				<td>{{config.platformNumber}}</td>
				<td>{{config.screenNumber}}</td>
				<td>{{config.screenIdentifier}}</td>

			</tr>	
		</table>         
    
    
    <br>
    <div align="center" style="font-weight: bold"><button ng-click="showAddConfiguration()" ><b>Add Screens</b></button>   </div>
    
    <div ng-hide="hideAddForm">    
    
    
    <h2 style="color:white">Use the form below to add screens</h2>
    <form>
	    <table class="formtable">
	    	<tr>
				<td style="color:white"><b>Platform Number</b></td>
	    	   	<td><input type="number"  ng-model="platformNumber" >{{platformNumberMsg}}</td>
	    	  </tr>
	          <tr>
	          	<td style="color:white"><b>Screen Number</b></td>
	          	<td><input type="number"  ng-model="screenNumber" >{{screenNumberMsg}}</td>
			  </tr>
	    	  <tr>
	    	  	<td><button ng-click="addPlatforms()" ng-disabled="disableSubmit"><b>Submit</b></button></td>
	    	  	<td> </td>
	    	  </tr>    	  
	    </table>
	    
	    </form>
    </div>
    
    </div>
    </form>
</div>



</body>
</html>