

<div class="other-page" ng-controller="PlatformConfigController" >
<h2 style="color:white"> Reservation Charting System - Screen Configuration</h2>
<h1 style="color:white" ng-hide="hideNoScreenConfigMessage"> No Screens added. Please use the Add/Remove Screens page to add screens</h1>
	<div ng-hide="hideScreenConfigTable">
	<table class="maintable">
			<tr style="font-weight:bold">
				<td>Screen</td>
				<td>Train Number</td>
				<td>Train Name</td>
				<td>Station</td>
				<td>Date</td>
				<td>Class</td>
				<td>Add/Change Info</td>
				<td>Remove Info</td>
			</tr>
			<tr ng-repeat="(key,value) in screenData">
				<td>{{key}}  </td>
				<td>{{value.trainNumber}}</td>
				<td>{{value.trainName}}</td>
				<td>{{value.stationName}}</td>				
				<td>{{value.date}}</td>
				<td>{{value.journeyClass}}</td>
				<td><input type="button" value="Add/Change Info"  ng-click="showAddForm(key)"/></td>
				<td><input type="button" value="Remove Info"  ng-click="removeTrainConf(key)"/></td>
			</tr>	
		</table>
	
	<br>
	</div>
    
    <div ng-hide="hideAddForm">    
    
    
    <h3 style="color:white" >Use the form below to update the information on {{selectedScreenIdentifier}}</h3>
    <form >
	    <table class="formtable">
	    	<tr>
				<td style="color:white">Train Number</td>
	    	   	<td><input type="text"  ng-model="trainNumber" ng-blur="getTrainInfoByNumber()" >{{trainNumberMsg}}</td>
	    	  </tr>
	          <tr>
	          	<td></td>
	          	<td><input type="text"  ng-model="trainName" disabled="disabled">{{trainNameMsg}}</td>
			  </tr>
			  <tr>	
			  	<td style="color:white">Class</td>
			  	<td><input type="text"  ng-model="journeyClass" ng-blur="checkClass()">{{classMsg}}</td>
	    	  </tr>
	    	  <tr>	
	    	  	<td style="color:white">Station</td>
	    	  	<td><input type="text"  ng-model="stationCode"> {{stationMsg}}</td>
	    	  </tr>
	    	  <tr>
	    	  	<td style="color:white">Date</td>
	    	  	<td><input type="date" ng-model="journeyDate"> {{dateMsg}}</td>
	    	  </tr>
	    	  <tr>
	    	  	<td><button ng-click="updateTrainInfo()" ng-disabled="disableSubmit"><b>Submit</b></button></td>
	    	  	<td> </td>
	    	  </tr>    	  
	    </table>
	    
	</form>
    </div>

</div>

