

<div class="other-page" ng-controller="PlatformConfigController" >
<h2 style="color:white"> Reservation Charting System - Screen Configuration</h2>
<h1 style="color:white" ng-hide="hideNoScreenConfigMessage"> No Platform/Screens added. Please use the Add/Remove Screens page to add screens</h1>



			
<div class="section group" ng-hide="hidePlatforms">
	<div id="divPlatform1" class="col span_1_of_3" ng-hide="hidePlatform1">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 1</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformOneScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform2" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 2</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformTwoScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform3">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 3</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformThreeScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform4">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 4</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformFourScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform5">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 5</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformFiveScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform6">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 6</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformSixScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform7">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 7</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformSevenScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform8">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 8</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformEightScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform9">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 9</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformNineScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform10">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 10</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformTenScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform11">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 11</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformElevenScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
	<div class="col span_1_of_3" ng-hide="hidePlatform12">
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 12</font></td>
			</tr>
			<tr>
				<td>Screen</td>
				<td>Train No</td>
				<td>Class</td>
			</tr>
			<tr ng-repeat="x in platformTwelveScreens">
				<td>{{x.screen}}</td>
				<td>{{x.trainName}}</td>
				<td>{{x.journeyClass}}</td>
			</tr>
		</table>
	</div>
</div>


	
	<br>

    
    <div ng-hide="hideAddForm">    
    
    
    <h3 style="color:white" >Use the form below to update the information on {{selectedScreenIdentifier}}</h3>
    <form >
	    <table class="formtable">
	    	<tr>
				<td style="color:white">Train Number</td>
	    	   	<td><input type="text"  ng-model="trainNumber" ng-blur="" >{{trainNumberMsg}}</td>
	    	  </tr>
	    	  <tr>
	    	  	<td style="color:white">Date</td>
	    	  	<td><input type="date" ng-model="journeyDate"> {{dateMsg}}</td>
	    	  </tr>	
	          <tr>
	          	<td style="color:white">Train Name</td>
	          	<td><input type="text"  ng-model="trainName" disabled="disabled">{{trainNameMsg}}</td>
			  </tr>
	    	  <tr>
	    	  	<td><button ng-click="getTrainInfoByNumber()" ng-disabled="disableSubmit"><b>Get Data</b></button></td>
	    	  	<td> </td>
	    	  </tr> 
	 </form>
	 </div>
	 
	 <div ng-hide="hideSubmitForm">
	 <form>			  
			  <tr>	
			  	<td style="color:white">Class</td>
			  	<td><select ng-model="selectedJourneyClass" ng-options="x for x in journeyClasses"></select></td>

 	    	  </tr>
	    	  <tr>	
	    	  	<td style="color:white">Station</td>
	    	  	<td><input type="text"  ng-model="stationCode"> {{stationMsg}}</td>
	    	  </tr>
	    	  <tr>
	    	  	<td><button ng-click="updateTrainInfo()" ng-disabled="disableSubmit"><b>Submit</b></button></td>
	    	  	<td> </td>
	    	  </tr>    	  
	    </table>
	    
	</form>
    </div>

</div>

