<div ng-controller="DataAddController" >
<h1> Welcome to Bhopal Railway Station</h1>
   <form>
         <b>Select platform   : </b> 
        <select ng-model="selectedPlatform" ng-options="x.name for x in platforms " ng-change="selectPlatform()">
        </select>
    

	<br>


    <div ng-model="currentInfo"  ng-hide="hideTrainInfo">
        <h2>Current Information been displayed on {{selectedPlatform.name}}</h2>
		<table class="maintable">
			<tr >
				<td>Train Number</td>
				<td>Train Name</td>
				<td>Station</td>
				<td>Date</td>
				<td>Class</td>
			</tr>
			<tr>
				<td>{{trainInfo.trainNumber}}</td>
				<td>{{trainInfo.trainName}}</td>
				<td>{{trainInfo.journeyClass}}</td>
				<td>{{trainInfo.date}}</td>
				<td>{{trainInfo.stationName}}</td>
		
			</tr>	
		</table>         
    
    
    <br>
    <div align="center"><button ng-click="showAddForm()" >Change Info</button>     <button ng-click="removeTrainConf()" >Remove Info</button>   </div>
    
    <div ng-hide="hideAddForm">    
    
    
    <h2 >Use the form below to update the information on {{selectedPlatform.name}}</h2>
    <form >
	    <table class="formtable">
	    	<tr>
				<td>Train Number</td>
	    	   	<td><input type="text"  ng-model="trainNumber" ng-blur="getTrainInfoByNumber()" >{{trainNumberMsg}}</td>
	    	  </tr>
	          <tr>
	          	<td></td>
	          	<td><input type="text"  ng-model="trainName" disabled="disabled">{{trainNameMsg}}</td>
			  </tr>
			  <tr>	
			  	<td>Class</td>
			  	<td><input type="text"  ng-model="journeyClass" ng-blur="checkClass()">{{classMsg}}</td>
	    	  </tr>
	    	  <tr>	
	    	  	<td>Station</td>
	    	  	<td><input type="text"  ng-model="stationCode"> {{stationMsg}}</td>
	    	  </tr>
	    	  <tr>
	    	  	<td>Date</td>
	    	  	<td><input type="date" ng-model="journeyDate"> {{DateMsg}}</td>
	    	  </tr>
	    	  <tr>
	    	  	<td><button ng-click="updateTrainInfo()" ng-disabled="disableSubmit">Submit</button></td>
	    	  	<td> </td>
	    	  </tr>    	  
	    </table>
	    
	    </form>
    </div>
    
    </div>
    </form>
</div>



</body>
</html>