

<div class="other-page" ng-controller="PlatformConfigController" >
<h2 style="color:white"> Reservation Charting System - Screen Configuration</h2>
<h1 style="color:white" ng-hide="hideNoScreenConfigMessage"> No Platform/Screens added. Please use the Add/Remove Screens page to add screens</h1>



			
<div class="section group" ng-hide="hidePlatforms">
	<div class="col span_1_of_3" ng-hide="hidePlatform1" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 1</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('1')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformOneScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('1',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform2" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 2</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('2')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformTwoScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('2',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform3" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 3</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('3')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformThreeScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('3',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform4" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 4</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('4')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformFourScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('4',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform5" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 5</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('5')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformFiveScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('5',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform6" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 6</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('6')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformSixScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('6',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform7" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 7</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('7')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformSevenScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('7',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform8" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 8</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('8')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformEightScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('8',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform9" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 9</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('9')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformNineScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('9',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform10" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 1</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('10')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformTenScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('10',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
	
	<div class="col span_1_of_3" ng-hide="hidePlatform11" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 11</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('11')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformElevenScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('11',x.screen)"/></td>
				
			</tr>
		</table>
	</div>

	<div class="col span_1_of_3" ng-hide="hidePlatform12" >
		<table class="platformtable" >
			<tr>
				<td colspan="4" align="center" ><font color="white">Platform 12</font></td>
			</tr>
			<tr>
				<td colspan="4" align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Add/Change Info"  ng-click="showAddForm('12')"/></td>
			</tr>
			<tr>
				<td><font color="white">Screen</font></td>
				<td><font color="white">Train No</font></td>
				<td><font color="white">Class</font></td>
				<td><font color="white">Remove</font></td>
			</tr>
			<tr ng-repeat="x in platformOneScreens">
				<td><font color="white">{{x.screen}}</font></td>
				<td><font color="white">{{x.trainNumber}}</font></td>
				<td><font color="white">{{x.journeyClass}}</font></td>
				<td align="center" ><input type="button" class="btn btn-white btn-outline btn-rounded btn-sm" value="Remove"  ng-click="removeTrainConf('12',x.screen)"/></td>
				
			</tr>
		</table>
	</div>
</div>


	
	<br>

    
    <div ng-hide="hideAddForm">    
    
    
    <h3 style="color:white" >Use the form below to update the information on {{selectedScreenIdentifier}}</h3>
    <form >
	    <table class="formtable">
	    	<tr>
				<td style="color:white">Train Number</td>
	    	   	<td><input type="text"  ng-model="trainNumber" ng-blur="" >{{trainNumberMsg}}</td>
	    	  </tr>
	    	  <tr>
	    	  	<td style="color:white">Date</td>
	    	  	<td><input type="date" ng-model="journeyDate"> {{dateMsg}}</td>
	    	  </tr>	
	          <tr>
	          	<td style="color:white">Train Name</td>
	          	<td><input type="text"  ng-model="trainName" disabled="disabled">{{trainNameMsg}}</td>
			  </tr>
	    	  <tr>
	    	  	<td><button ng-click="getTrainInfoByNumber()" ng-disabled="disableSubmit"><b>Get Data</b></button></td>
	    	  	<td> </td>
	    	  </tr> 
	 </form>
	 </div>
	 
	 <div ng-hide="hideSubmitForm">
	 <form>			  
			  <tr>	
			  	<td style="color:white">Class</td>
			  	<td><select ng-model="selectedJourneyClass" ng-options="x for x in journeyClasses"></select></td>

 	    	  </tr>
			  <tr>	
			  	<td style="color:white">Screen</td>
			  	<td><select ng-model="selectedScreen" ng-options="x.screen for x in screensList"></select></td>

 	    	  </tr>
	    	  <tr>
	    	  	<td><button ng-click="updateTrainInfo()" ng-disabled="disableSubmit"><b>Submit</b></button></td>
	    	  	<td> </td>
	    	  </tr>    	  
	    </table>
	    
	</form>
    </div>

</div>

